.modal__input-label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: 16px;
  margin-bottom: 24px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  padding: 8px 0;
  font-size: 16px;
  font-family: var(--font-family);
}

.modal__input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}