.card__name {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;

  background-color: white;
  padding: 2px 12px;
  max-height: 24px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;

  object-fit: contain;

  box-sizing: border-box;
}

.card {
  position: relative;
}

.card__like-button {
  background: none;
  border: none;
  font-size: 26px;
  color: #000;
  cursor: pointer;
  transition: transform 0.2s;
  padding: 0;
  margin: 0;
  opacity: 0.7;
}

.card__like-button:hover {
  opacity: 1;
  transform: scale(1.2);
}

.card__like-button_active {
  color: #FF0000;
  opacity: 1;
}

.card__error {
  color: red;
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 500;
}

.card__header {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}